<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header class="card-header">
      <ion-card-title style="text-align: center; font-size: 25px;">
        Welcome
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-content" style="margin-top: 20px; ">
      <ion-button style="margin-right: 50px; " color="success" routerLink="/inscription">Add user</ion-button>
      <ion-button color="warning"  routerLink="/affichage">List of users</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>